/*Start Variables*/
:root {
    --main_color: hsl(47, 88%, 63%);
    --secondary_color: Black: hsl(0, 0%, 7%);
    --third_color: Grey: hsl(0, 0%, 50%);
}


/*End Variables*/
/*Start Global Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}



 
body {
    background-color: var(--main_color);
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .block {
    
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 0px 0px;
    width: 380px;
    padding: 20px;
    
}

.container .block p:first-of-type{
    background-color: var(--main_color);
   
    border-radius: 11px;
    padding: 10px;
    width: 100px;
    font-size: 18px;
    font-weight: 600;
}


.container .block p:nth-of-type(2){
  
    font-weight: 700;
    font-size: 16px;
}


.container .block h3{
    color: var(--main_color);
    font-size: 22px;
}


.container .block p:nth-of-type(3){
    color: grey;
    line-height: 25px;
    font-weight: 500;
}

.container .block img:nth-of-type(2){
    width: 45px;
    float: left;
    margin-right: 20px;
}

.container .block p:last-of-type{
    font-weight: 800;
    margin-top: 30px;
}
/*End Landing*/